

h1, h2, h3 {     font-family: Barlow;     font-weight: 600; } 
h2 {font-size: 26px;} a {color: #333;} 
body {     background: #eee;     color: #333;     font-family: 'Source Sans Pro', sans-serif;     font-size: 16px; } .logo {     font-weight: 700;     font-size: 20px;     padding-left: 30px; } 
.main-header {     font-family: Barlow, sans-serif;     font-weight: 600;        width: 100%;     background: #fff;     display: flex;     height: 90px;     align-items: center; } 
.main-nav {     text-align: right;     flex-grow: 1; } .main-nav a {     display: inline-block;     margin: 0 20px; } 
.main-donate {     background: #7B4DD3 ;     margin-left: 30px;     height: 100px;     color: #fff;     display: flex;     align-items: center;     padding: 0 60px; } 
.main-donate div {     display: inline-block; } 
.main-donate a {     color: #fff; } 
.main-banner {     background: url("/images/main-header-bg.jpg");     background-size: cover ;     margin-bottom: 90px;     padding: 90px 30px;     width: 100%;     position: relative;     display: flex;     align-items: center;     justify-content: center; } 
.home-banner-overlay {     max-width: 600px;     text-align: center; } .home-banner-overlay h1 {     color: #fff;     font-family: Barlow, sans-serif;     font-size: 46px;     margin-bottom: 30px; } 
.find-out-now, .find-out-now:hover {     font-size: 20px;     background: #7B4DD3;     color: #FFF;     font-family: Barlow;     font-weight: 600;     padding: 15px 45px;     letter-spacing: 2px;     display: inline-block; } 
.home-articles {     margin-top: 90px; } 
.make-difference {     margin-top: 90px; } 
.make-difference-page {     max-width: 750px;     margin: 90px auto 0; } 
.make-difference-info {     background: #F3902A;     padding: 30px;     color: #fff; } 
.make-difference-info h2 {     font-size: 34px;     margin-bottom: 15px; } 
.read-more {     background: #7B4DD3;     display: inline-block;     padding: 8px 20px;     font-size: 14px;     color: #fff;     font-family: "Barlow";     font-weight: 600;     margin-top: 5px; } 
.page-header {     max-width: 960px;     text-align: center;     margin: 0 auto; } 
#quiz-form fieldset {     margin-bottom: 30px; } 
#quiz-form legend {     font-weight: 700; } 
#quiz-form label {     font-size: 16px; } 
.main-footer {     background: #333;     color: #fff;     margin-top: 120px;     padding: 30px } 
.make-difference-learn-more, .make-difference-learn-more:hover {     display: inline-block;     padding: 10px 30px;     border: 2px solid #fff;     color: #fff;     margin-top: 15px; } 
.make-difference-result { } 
.form-score {     font-size: 42px; } 
.counselor-item {     border: 1px solid #fff;     padding: 15px;     margin-bottom: 30px;     display: flex; } 
.counselor-info {     margin-left: 30px; } 
.question-item .question {     background: #F3902A;     color: #fff;     font-weight: 600;     border: 1px solid #eee;     padding: 30px;     font-size: 20px; } 
.question-item .answers div {     text-align: center;     padding: 10px;     border-bottom: 1px solid #ccc; } 
.question-item .comment {     margin-top: 30px;     position: relative; } 
.question-item .comment > div{     display: none; }
.footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.contacts-flex {
  width: 100%;
  margin: auto;
}
.contact-left {
  width: 45%;
  margin: 1em;
}
.contact-right {
  width: 45%;
  margin: -7em;
  float: right;
  overflow: hidden;
}